.modal{
    width: 100%;
    height:100vh;
    background-color:rgba(0,0,0,0.7);
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    display:none;
}

.cmt-noti{
    color:white;
}

.modal-img{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width: 60%;
    height:80%;
    margin:auto;
}

.modal-img__main{
    width: 100%;
}

.modal-img i{
    position: absolute;
    top:3%;
    right:3%;
    font-size:40px;
    cursor: pointer;
    transition: all .3s;
}

.modal-img i:hover{
    color:white;
}